# General exclusions:
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/

## Directory of Temporary stuff:
# Uncomment after initial commit
# to keep ./tmp/.. under version control but empty
/tmp/

# Environmental exclusions:
/.idea
/.bundle/
/lib/bundler/man/

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
Gemfile.lock
# .ruby-version
# .ruby-gemset

# # Documentation cache and other exclusions:
.dat*
.repl_history
build/
/.yardoc/
/_yardoc/
/doc/
/rdoc/